flows.json
[{"id":"452f6c75.68e8b4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4a1ebccb.745f34","type":"inject","z":"452f6c75.68e8b4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Anuraag","payloadType":"str","x":260,"y":60,"wires":[["20c96cb2.b3c114"]]},{"id":"20c96cb2.b3c114","type":"debug","z":"452f6c75.68e8b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":60,"wires":[]},{"id":"d3026dd0.3e9f3","type":"ibmiot in","z":"452f6c75.68e8b4","authentication":"apiKey","apiKey":"edc08a18.eb7e28","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"raspberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":270,"y":180,"wires":[["3b7f04f4.ced73c","b528b061.1f2ec","43957db3.520004","b6b8a75.309ef58"]]},{"id":"3b7f04f4.ced73c","type":"function","z":"452f6c75.68e8b4","name":"Temperature","func":"global.set('temperature',msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":120,"wires":[["20c96cb2.b3c114","ed6371fe.98891"]]},{"id":"b528b061.1f2ec","type":"function","z":"452f6c75.68e8b4","name":"Humidity","func":"global.set('humidity',msg.payload.Humidity)\nmsg.payload=msg.payload.Humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":160,"wires":[["20c96cb2.b3c114","f9bc1dfb.4d9df"]]},{"id":"ed6371fe.98891","type":"ui_gauge","z":"452f6c75.68e8b4","name":"","group":"7b2ef993.44e5c8","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":120,"wires":[]},{"id":"f9bc1dfb.4d9df","type":"ui_gauge","z":"452f6c75.68e8b4","name":"","group":"fc3f596b.9d1928","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":800,"y":160,"wires":[]},{"id":"e2c16958.f19878","type":"ui_button","z":"452f6c75.68e8b4","name":"","group":"7b2ef993.44e5c8","order":3,"width":0,"height":0,"passthru":false,"label":"LIGHTON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"lighton\"}","payloadType":"json","topic":"","x":260,"y":280,"wires":[["cd765103.128f","141ae0d8.6d5a7f"]]},{"id":"db8c084f.81cd28","type":"ui_button","z":"452f6c75.68e8b4","name":"","group":"7b2ef993.44e5c8","order":4,"width":0,"height":0,"passthru":false,"label":"LIGHTOFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"lightoff\"}","payloadType":"json","topic":"","x":250,"y":320,"wires":[["cd765103.128f","141ae0d8.6d5a7f"]]},{"id":"cd765103.128f","type":"ibmiot out","z":"452f6c75.68e8b4","authentication":"apiKey","apiKey":"edc08a18.eb7e28","outputType":"cmd","deviceId":"123456","deviceType":"raspberrypi","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":740,"y":360,"wires":[]},{"id":"88173535.6d3ca8","type":"http in","z":"452f6c75.68e8b4","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":260,"y":585,"wires":[["cbf46ab3.283a98"]]},{"id":"200bc0ae.7239e","type":"http response","z":"452f6c75.68e8b4","name":"","statusCode":"","headers":{},"x":760,"y":585,"wires":[]},{"id":"cbf46ab3.283a98","type":"function","z":"452f6c75.68e8b4","name":"data","func":"msg.payload={'temperature':global.get(\"temperature\"),'humidity':global.get(\"humidity\"),'vibration':global.get(\"vibration\"),'current':global.get(\"current\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":585,"wires":[["200bc0ae.7239e"]]},{"id":"43957db3.520004","type":"function","z":"452f6c75.68e8b4","name":"Vibration","func":"global.set('vibration',msg.payload.Vibration)\nmsg.payload=msg.payload.Vibration;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":200,"wires":[["93a983b7.1af69","20c96cb2.b3c114"]]},{"id":"b6b8a75.309ef58","type":"function","z":"452f6c75.68e8b4","name":"Current","func":"global.set('current',msg.payload.Current)\nmsg.payload=msg.payload.Current\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":240,"wires":[["2c5f816a.0f2a4e","20c96cb2.b3c114"]]},{"id":"93a983b7.1af69","type":"ui_gauge","z":"452f6c75.68e8b4","name":"","group":"7b2ef993.44e5c8","order":2,"width":0,"height":0,"gtype":"gage","title":"Vibration","label":"HZ","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#d43a3a"],"seg1":"","seg2":"","x":800,"y":200,"wires":[]},{"id":"2c5f816a.0f2a4e","type":"ui_gauge","z":"452f6c75.68e8b4","name":"","group":"fc3f596b.9d1928","order":2,"width":0,"height":0,"gtype":"gage","title":"Current","label":"Amper","format":"{{value}}","min":"5","max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":800,"y":240,"wires":[]},{"id":"fb88b035.99d71","type":"http in","z":"452f6c75.68e8b4","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":272,"y":469,"wires":[["17b83cb6.088933"]]},{"id":"b6a08a81.5c19f8","type":"http response","z":"452f6c75.68e8b4","name":"","statusCode":"","headers":{},"x":750,"y":470,"wires":[]},{"id":"17b83cb6.088933","type":"function","z":"452f6c75.68e8b4","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":469,"wires":[["b6a08a81.5c19f8","90b2cf06.2a3aa","cd765103.128f"]]},{"id":"141ae0d8.6d5a7f","type":"debug","z":"452f6c75.68e8b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":300,"wires":[]},{"id":"90b2cf06.2a3aa","type":"debug","z":"452f6c75.68e8b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":525,"wires":[]},{"id":"a9eb6e1e.eaf82","type":"ui_button","z":"452f6c75.68e8b4","name":"","group":"fc3f596b.9d1928","order":3,"width":0,"height":0,"passthru":false,"label":"MOTORON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":250,"y":360,"wires":[["cd765103.128f","141ae0d8.6d5a7f"]]},{"id":"91ad9582.eadb98","type":"ui_button","z":"452f6c75.68e8b4","name":"","group":"fc3f596b.9d1928","order":4,"width":0,"height":0,"passthru":false,"label":"MOTOROFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":250,"y":400,"wires":[["cd765103.128f","141ae0d8.6d5a7f"]]},{"id":"edc08a18.eb7e28","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"7b2ef993.44e5c8","type":"ui_group","z":"","name":"Default","tab":"25c4f761.120c68","order":1,"disp":false,"width":"6","collapse":false},{"id":"fc3f596b.9d1928","type":"ui_group","z":"","name":"Default","tab":"25c4f761.120c68","order":1,"disp":false,"width":"6","collapse":false},{"id":"25c4f761.120c68","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]